html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #303841;
    font-family: ahoma, geneva, sans-serif;
    width: 100vw;
    height: 100 vh;
    margin: 0px;
}

#titre_page {
    text-align: center;
    padding: 40px;
    font-weight: bold;
    color: #7aa5d2;
}

#corps {
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 20px;
}

@media (min-width: 800px) {
    .pc {
        display: flex;
    }
}


/******************************************************************************/


/* corps de la page, pour les différentes sections */

section {
    width: 75%;
    margin: auto;
    text-align: justify;
    padding-left: 2em;
    /* marge intérieure */
    padding-right: 2em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin: 1em;
    /* Marge extérieure */
    background-color: #47555e;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    word-wrap: break-word;
    color: #EEEEEE;
    line-height: 1.5;
}


/* titres de page */

h2 {
    font-size: 1.6em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
    color: #7aa5d2;
}

h3 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 2em;
    color: #7aa5d2;
}

h4 {
    font-size: 1.2em;
    color: #7aa5d2;
    margin: 1em;
}

h5 {
    font-size: 1.1em;
    color: #7aa5d2;
}

h6 {
    font-size: 1em;
    color: #7aa5d2;
}

p {
    max-width: auto;
    margin: 0 0 1em;
}

p a {
    text-decoration: none;
    color: #7aa5d2;
}


/******************************************************************************/


/* pied de la page */

footer {
    width: 85%;
    height: 60px;
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    /* marge intérieure */
    padding-top: 10px;
    word-wrap: break-word;
    background-color: #47555e;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    line-height: 50px;
    color: #DDD;
}


/******************************************************************************/


/* menu horizontal */

#menu {
    width: 90%;
    height: 60px;
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    padding: 0px;
    /* marge intérieure */
    word-wrap: break-word;
    background-color: #47555e;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.lien_menu {
    display: table-cell;
    width: 100px;
}

.affichage_lien_menu {
    text-decoration: none;
    display: block;
    text-align: center;
    color: #DDD;
    line-height: 60px;
}

.affichage_lien_menu:hover {
    color: #7aa5d2;
    margin-left: 20px;
    border-bottom: 4px solid;
    border-color: #7aa5d2;
    font-weight: bold;
    transition-duration: 0s, 0s, 1s, 1s;
    transition-property: font-weight, color, margin-left, border-bottom;
}


/* menu latéral */

#menu_lat {
    width: 320px;
    margin: auto;
    text-align: justify;
    padding: 20px;
    /* marge intérieure */
    margin: 20px;
    /* Marge extérieure */
    word-wrap: break-word;
    background-color: #47555e;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.lien_menu_lat {
    display: table;
    width: 320px;
}

.affichage_lien_menu_lat {
    text-decoration: none;
    display: block;
    text-align: left;
    color: #DDD;
    line-height: 40px;
}

.affichage_lien_menu_lat:hover {
    color: #7aa5d2;
    font-weight: bold;
    padding-left: 20px;
    border-left: 4px solid;
    border-color: #7aa5d2;
    transition-duration: 0s, 0s, 1s, 1s;
    transition-property: font-weight, color, padding-left, border-left;
}

.lien_paragraphe {
    color: #7aa5d2;
    text-decoration: none;
}


/******************************************************************************/


/* Version mobile barre latérale */

@media (max-width: 800px) {
    .portable {
        /* display: none !important; */
        width: 85% !important;
        margin-right: auto !important;
        margin-left: auto !important;
        /* word-wrap: break-word; */
    }
}


/******************************************************************************/


/* images */

img {
    vertical-align: top;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    margin: 20px;
}


/******************************************************************************/


/* tableau */

td {
    margin: 20px;
    padding: 20px;
}

.planning {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.customTable {
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
}

.customTable th {
    border: 1px solid #C0C0C0;
    padding: 5px;
    background: #F0F0F0;
    text-align: center;
    color: #7aa5d2;
    font-size: larger;
}

.customTable td {
    border: 1px solid #C0C0C0;
    padding: 5px;
}

.customTable td:nth-child(1) {
    border: 1px solid #C0C0C0;
    padding: 5px;
    font-size: larger;
    text-align: center;
}

.customTable caption {
    border: 1px solid #C0C0C0;
    padding: 5px;
    font-size: larger;
    text-align: center;
}

/*****************************************************************************/
/* Autres */

code {
    color: lightyellow;
    font-size: large;
}

.complexity {
    color: #e74c3c;
    font-size: large;
}

.noPadMar {
    padding: 0px;
    margin: 0px;
}

.smallBorderRadius {
    border-radius: 2px;
    ;
}

.redText {
    color: red;
}

.orangeText {
    color: orange;
}

.greenText {
    color: green;
}

.serverText {
    padding-left: 3em;
}